Repository ROCm/vllm, changes with the owners that .github/CODEOWNERS names for each.
All owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @WoosukKwon, @zhuohan123, @youkaichao, @alexm-redhat, @comaniac, @njhill, @mgoin, @robertgshaw2-redhat, @tlrmchlsmth, @russellb, @DarkLight1337, @ywang96, @LucasWilkinson, @charlifu, @mawong-amd, @divakar-amd, @Alexei-V-Ivanov-AMD, @AdrianAbeyta, @dllehr-amd

.github/CODEOWNERS:

# See https://help.github.com/articles/about-codeowners/
# for more info about CODEOWNERS file

* @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang
# This lists cover the "core" components of vLLM that require careful review
/vllm/attention/backends/abstract.py @WoosukKwon @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/core @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/engine/llm_engine.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/executor/executor_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker_base.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/worker/worker.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/sampler.py @zhuohan123 @youkaichao @alexm-redhat @comaniac @njhill
/vllm/model_executor/layers/quantization @mgoin @robertgshaw2-redhat @tlrmchlsmth
/vllm/model_executor/guided_decoding @mgoin @russellb
/vllm/multimodal @DarkLight1337 @ywang96
/vllm/vllm_flash_attn @LucasWilkinson
CMakeLists.txt @tlrmchlsmth

/csrc/ @charlifu @mawong-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang
/vllm/ @charlifu @mawong-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

fused_moe @divakar-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

/tests/ @Alexei-V-Ivanov-AMD @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang
/.buildkite/ @Alexei-V-Ivanov-AMD @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

/benchmarks/profiling @AdrianAbeyta @dllehr-amd @shajrawi @gshtras @maleksan85 @sunway513 @hongxiayang

Fix input layer norm mismatch for Eagle Speculative Decoding compatibility
  vllm/model_executor/models/eagle.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Remove gradlib mention from pyproject
  pyproject.toml
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Update eagle.py
  vllm/model_executor/models/eagle.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Moving fp8 out scale to the attention layer
  vllm/attention/backends/abstract.py
  vllm/attention/backends/blocksparse_attn.py
  vllm/attention/backends/flash_attn.py
  vllm/attention/backends/flashinfer.py
  vllm/attention/backends/hpu_attn.py
  vllm/attention/backends/ipex_attn.py
  vllm/attention/backends/mla/common.py
  vllm/attention/backends/pallas.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/backends/torch_sdpa.py
  vllm/attention/backends/xformers.py
  vllm/attention/layer.py
  vllm/attention/ops/triton_flash_attention.py
  vllm/model_executor/model_loader/utils.py
  vllm/model_executor/models/llama.py
  vllm/v1/attention/backends/triton_attn.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Revert "Set warp size to 32"
  csrc/attention/attention_kernels.cuh
  csrc/attention/paged_attention_v1.cu
  csrc/attention/paged_attention_v2.cu
  csrc/cuda_compat.h
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Reducing changes from upstream
  tests/distributed/test_pynccl.py
  tests/kernels/attention/test_attention.py
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/ops/triton_flash_attention.py
  vllm/attention/ops/triton_unified_attention.py
  vllm/envs.py
  vllm/model_executor/layers/fused_moe/__init__.py
  vllm/model_executor/layers/quantization/awq.py
  vllm/model_executor/layers/quantization/compressed_tensors/compressed_tensors.py
  vllm/model_executor/layers/quantization/fp8.py
  vllm/model_executor/layers/quantization/kv_cache.py
  vllm/model_executor/model_loader/utils.py
  vllm/v1/attention/backends/triton_attn.py
  vllm/worker/model_runner.py
Owners: @Alexei-V-Ivanov-AMD, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd, @divakar-amd

Fixing a bug from transformers==4.52. config.head_dim is now explicitly set to None
  vllm/distributed/kv_transfer/kv_connector/utils.py
  vllm/model_executor/models/exaone.py
  vllm/model_executor/models/granite.py
  vllm/model_executor/models/minimax_text_01.py
  vllm/model_executor/models/mixtral.py
  vllm/model_executor/models/mixtral_quant.py
  vllm/model_executor/models/nemotron.py
  vllm/model_executor/models/solar.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Remove the option to compile cython during the docker build. It hasn't been used in a while and is broken in upstream again
  docker/Dockerfile.rocm
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Fixing pre-commit in github. Not sure why this issue does not affect upstream, but we need to have it green
  .pre-commit-config.yaml
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Added benchmark results and commit hash
  docs/dev-docker/README.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Removing RPD in favor of torch profiler for V1
  docker/Dockerfile.rocm
  docs/getting_started/installation/gpu/rocm.inc.md
  vllm/envs.py
  vllm/model_executor/layers/sampler.py
  vllm/utils.py
  vllm/worker/worker.py
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd

Removing redundant parameters from the MIs side and fixing Navi build
  csrc/rocm/attention.cu
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

support 256 by triton
  vllm/attention/ops/triton_unified_attention.py
  vllm/v1/attention/backends/rocm_aiter_fa.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Added release notes/changelog
  docs/dev-docker/README.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

ugly working prototype (+compilation config on runner)
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/attention/backends/mla/flashmla.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Use build_for_cudagraph_capture for metadata
  vllm/v1/attention/backends/flash_attn.py
  vllm/v1/attention/backends/mla/common.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Update README.md
  docs/dev-docker/README.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

optimize performance a little
  vllm/v1/attention/backends/rocm_aiter_fa.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

enable full graph capture for TritionAttn
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

enable full graph capture for TritionAttn
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

refactor
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

lint
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

[ROCm][Build] Clean up the ROCm build (#19040)
  CMakeLists.txt
  docker/Dockerfile.rocm
  docs/getting_started/installation/gpu/rocm.inc.md
  requirements/rocm.txt
Owners: @tlrmchlsmth, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

[ROCm][Build] Clean up the ROCm build (#19040) (#567)
  CMakeLists.txt
  docker/Dockerfile.rocm
  docs/getting_started/installation/gpu/rocm.inc.md
  requirements/rocm.txt
Owners: @tlrmchlsmth, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Fix attention fp8 output fusion for split attention path in v1
  vllm/attention/ops/prefix_prefill.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

[AMD] Update compatible packaging version (#19309)
  docker/Dockerfile.rocm
  requirements/rocm.txt
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Updated README.md for June 10 release
  docs/dev-docker/README.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Added Docker Manifest git hash
  docs/dev-docker/README.md
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

numpy 1.26.4, triton with kpack 1, vllm MI* only
  docker/Dockerfile.rocm
  docker/Dockerfile.rocm_base
  requirements/common.txt
  vllm/attention/ops/prefix_prefill.py
  vllm/platforms/rocm.py
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd

corrected vllm base docker image to use uploaded to docker hub rocm_base image
  docker/Dockerfile.rocm
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

adding gfx942 for aiter build
  docker/Dockerfile.rocm_base
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

removing gfx942 for aiter build, it times out
  docker/Dockerfile.rocm_base
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

Use the correct torch dtype in topk kernel assertion
  csrc/moe/topk_softmax_kernels.cu
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

lint fixes
  vllm/platforms/rocm.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

merge with mxfp4_051925
  vllm/attention/backends/rocm_flash_attn.py
  vllm/attention/ops/rocm_aiter_paged_attn.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/layernorm.py
  vllm/model_executor/layers/linear.py
  vllm/model_executor/layers/quantization/quark/quark.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w4a4_mxfp4.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/llama.py
  vllm/platforms/rocm.py
  vllm/v1/worker/gpu_model_runner.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

two triton kernels for prefill FA V0 as newer one fails on fp8 KV accuracy
  vllm/attention/backends/rocm_flash_attn.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

V0 fp4 works
  docker/Dockerfile.rocm_base
  vllm/model_executor/layers/activation.py
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang, @charlifu, @mawong-amd

Update quark_w4a4_mxfp4.py
  vllm/model_executor/layers/quantization/quark/schemes/quark_w4a4_mxfp4.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

corrected version of AITER and triton with MI350 support
  docker/Dockerfile.rocm_base
Owners: @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang

environemnt var move to envs.py
  vllm/envs.py
  vllm/model_executor/layers/activation.py
  vllm/model_executor/layers/rotary_embedding.py
  vllm/model_executor/models/llama.py
Owners: @charlifu, @mawong-amd, @shajrawi, @gshtras, @maleksan85, @sunway513, @hongxiayang
